<!DOCTYPE html>
<html lang="fr" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>The Hub - Inscription</title>
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>

  <body>
    <div id="signup">
      <h1 id="signup-title">The Hub</h1>
      <h2 id="signup-subtitle">Inscription</h2>

      <form id="signup-form" action="" autocomplete="off">
        <div>
          <label class="signup-form-label" for="pseudo">Pseudo</label>
          <input class="signup-form-input" type="text" id="pseudo" name="pseudo" placeholder="Pseudo">
        </div>
        <div>
          <label class="signup-form-label" for="email">Email</label>
          <input class="signup-form-input" type="email" id="email" name="email" placeholder="Email">
        </div>
        <div>
          <label class="signup-form-label" for="password">Mot de passe</label>
          <input class="signup-form-input" type="password" id="password" name="password" placeholder="Mot de passe">
        </div>
        <div>
          <label class="signup-form-label" for="confirm_password">Corfirmer mot de passe</label>
          <input class="signup-form-input" type="confirm_password" id="confirm_password" name="confirm_password" placeholder="Corfirmer mot de passe">
        </div>
        <div>
          <label class="signup-form-label" for="code_by_mail">Code reçu par mail</label>
          <input class="signup-form-input" type="code_by_mail" id="code_by_mail" name="code_by_mail" placeholder="Code reçu par mail">
        </div>
        <button class="signup-form-btn">S'inscrire</button>
      </form>
    </div>
  </body>

</html>