{% extends 'base.html.twig' %}

{% block title %}Mail d'inscription{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div style='background-color: #031634; padding: 30px; color: white' id="register">
        
        <img height='80' width:'80' src="{{ logo_src }}" alt="Logo The Hub">
        <h2 id="register-subtitle">Bienvenue dans THE HUB</h2>
        <h3 id="register-subtitle">C'est la dernière étape !</h3>
        <p>Pour te permettre d'accéder au HUB tu n'as plus qu'à cliquer : <a href="{{ url('register', { 'code': code, 'email': email } ) }}">ICI</a></p>
        <p>Ce lien te permettra de finaliser ton inscription.</p>
        <p>A bientôt.</p>
    </div>

{% endblock %}