@font-face{font-family:Oclock;src:url(../fonts/oclock-light.woff2) format("woff2");font-weight:200;font-style:normal}
@font-face{font-family:Oclock;src:url(../fonts/oclock-regular.woff2) format("woff2");font-weight:400;font-style:normal}
@font-face{font-family:Oclock;src:url(../fonts/oclock-medium.woff2) format("woff2");font-weight:600;font-style:normal}
@font-face{font-family:Oclock;src:url(../fonts/oclock-bold.woff2) format("woff2");font-weight:700;font-style:normal}
@font-face{font-family:Oclock;src:url(../fonts/oclock-black.woff2) format("woff2");font-weight:900;font-style:normal}
@font-face{font-family:Oclock;src:url(../fonts/oclock-regularitalic.woff2) format("woff2");font-weight:400;font-style:italic}
@font-face{font-family:Menlo;src:url(../fonts/menlo-regular.woff2) format("woff2");font-weight:400;font-style:normal}

* {
  box-sizing: border-box;
}

body {
  background-color: #031634;
  color: #fffdd8;
  font-family: Oclock;
}

#login,
#signup,
#register{
  display: flex;
  flex-direction: column;
  align-items: center;
}

html, body, #register{
  height: 80%;
}

#login-title-logo,
#signup-title-logo,
#register-title-logo{
  margin:8rem; 
  width: 17%;
}

#login-subtitle,
#signup-subtitle,
#register-subtitle{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fffdd8;
}

#login-form {
  width: 20%;
  margin: auto;
  padding: 1rem 0;
  text-align: center;
}

.login-form-input, .register-form-input {
  width: 100%;
  margin: 1rem 0;
  padding: .5rem;
  text-align: center;
  background-color: #033649;
  color: lightblue;
  border: 1px solid #033649;
  font-family: Oclock;
  font-weight: 400;
  font-size: 1.2rem;
}

.login-form-input:focus, .register-form-input:focus {
  border-color: #0ac3a7;
}

.login-form-btn,
.signup-form-btn,
.register-form-btn{
  margin: 1rem 0;
  border-radius: .5em;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .12em;
  padding: 1.5em 1.5em;
  text-transform: uppercase;
  background: #cdb380;
  border: 0;
  border-bottom: .3em solid #a58a55;
  color: #031634;
  text-shadow: 0 0 0.4em rgba(21,16,0,.1);
  min-width: 10em;
  cursor: pointer;
}

.login-form-btn:hover,
.signup-form-btn:hover,
.register-form-btn:hover{
  background: #e4ca98;
}

.login-form-btn:active,
.signup-form-btn:active,
.register-form-btn:active{
  background: #cdb380;
  border-width: .15em;
  margin-bottom: .15em;
  transform: translateY(.15em);
}

#signup-form,
#register-form{

  width: 80%;
  margin: auto;
  padding: 1rem 0;
  text-align: center;
}

#signup-notice{
  position: absolute;
  left: 0%;
  top: -5%;
  transform: translateX(-30%) rotate(-25deg);
  font-size: 1.2rem;
  padding: 1rem;
  background-color:#033649;
  z-index: -10;
}
#signup-notice:after{
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
}

.signup-form-container{
  max-width: 1000px;
  width: 80%;
  position: relative;
}


.signup-form-category,
.register-form-category {
  border-bottom: 1px dashed #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding-bottom: .5rem;
}

.signup-form-section {
  margin-bottom: 3rem;
}

.signup-form-label,
.register-form-label{
  min-width: 50%;
  text-align: left;
  font-size: 1.2rem;
  cursor: pointer;
  line-height: 1.4;
}


.signup-form-input,
.register-form-input,
.register-form-textarea {
  width: 50%;
  background: 0 0;
  border: 0;
  text-align: left;
  background-color: #033649;
  color: #a58a55;
  font-family: Oclock;
  font-weight: 400;
  font-size: 1.2rem;
  padding: .2rem .5rem;
}

.register-form-textarea {
  min-width: 50%;
  min-height: 10rem;
}

.register-form-input option, .register-form-input option{
  background-color: #031634;
}


.signup-form-input:focus,
.register-form-input:focus{
  outline: none;
}

.signup-form-label{
  position: relative;
}

.invalid-feedback{
  font-size: 1rem;
  font-style: italic;
  position: absolute;
  right: -100%;
  top: -2rem;

}


.not_found {
  margin-top: 5rem;
  text-align: center;
}
.not_found-logo {
  width: 40%;
}
.not_found-message {
  margin: 5rem auto;
  width: 70%;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #031634;
  background-color: #033649;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5;
}
.not_found-author {
  margin-top: 1rem;
  font-size: .9rem;
  text-align: right;
}