<!DOCTYPE html>
<html lang="fr" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>The Hub - Login</title>
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>

  <body>
    <div id="login">
      <h1 id="login-title">The Hub</h1>
      <h2 id="login-subtitle">Connexion</h2>

      <form id="login-form" action="" autocomplete="off">
        <input class="login-form-input" type="email" name="email" placeholder="Email">
        <input class="login-form-input" type="password" name="password" placeholder="Mot de passe">
        <button class="login-form-btn">Se connecter</button>
      </form>
    </div>
</body>

</html>